%section#company-list
  .container
    %h2 ストーリー掲載企業
    .company
      = link_to root_path do
        .info
          .image{style: "background-image: url(#{asset_path('company-logo.png')});"}
          .name ギークス株式会社
    .company
      = link_to root_path do
        .info
          .image{style: "background-image: url(#{asset_path('company-logo.png')});"}
          .name ギークス株式会社
    .company
      = link_to root_path do
        .info
          .image{style: "background-image: url(#{asset_path('company-logo.png')});"}
          .name ギークス株式会社
    .company
      = link_to root_path do
        .info
          .image{style: "background-image: url(#{asset_path('company-logo.png')});"}
          .name ギークス株式会社
    .more
      = link_to "> ストーリー掲載企業一覧", "#"
