%section.topic
  %h2= "#{title}つめのトピック"
  = f.fields_for :topics do |topic|
    .image-selector-heading
      .image-selector-heading__image-type
        %ul
          %li 画像
          %li.movie 動画
      .image-selector-heading__image-point
        =link_to "画像の選定基準について", "#"
    .image-selector-main
      .image-selector-main__regulation
        = image_tag('image-selector-main.png')
      .image-selector-main__selector
        %span 画像を選択
        %small （3MB以下のファイルをご使用ください）
        = topic.file_field :image
      .image-selector-main__caption
        = topic.text_field :caption, placeholder: "画像/動画の説明を入力してください"
    .field
      .field__label
        = topic.label :heading, "見出し"
        %span.rule 35文字以内
      %p.note このトピックの訴求点が伝わる、見出しをつけてください。
      .field__form
        = topic.text_field :heading, placeholder: "見出し"
    .field
      .field__label
        = topic.label :content, "本文"
      .field__form
        = topic.text_area :content, placeholder: "本文"
