%article
  .hover
    %mark 下書き
    = link_to edit_story_path(edit_story_list) do
      -# .story-image{style: "background-image: url(#{asset_path(edit_story_list.topics[0].image)});"}
      .story-image{style: "background-image: url(story-image.jpg));"}
      %p= edit_story_list.title
  .tools
    %ul#tools
      %li= link_to "編集", edit_story_path(edit_story_list)
      %li= link_to "下書き", "#"
      %li= link_to "削除", story_path(edit_story_list), method: :delete
