#footer
  %footer
    %nav
      %ul
        %li= link_to "新着一覧", "#"
        %li= link_to "トピック一覧", "#"
        %li= link_to "ストーリー掲載企業一覧", "#"
      %ul
        %li= link_to "よくある質問", "#"
        %li= link_to "Product Storyについて", "#"
        %li= link_to "利用規約", "#"
        %li= link_to "プライバシーポリシー", "#"
        %li= link_to "運営会社", "#"
        %li= link_to "お問い合わせ", "#"
        %li= link_to "Product Story Blog", "#"
    .social
      %ul
        %li #
        %li #
        %li #
