%header#header
  #global-header
    .left
      #logo
        = link_to image_tag('logo.svg'), root_path
      #header-nav
        %ul
          %li= link_to "新着一覧", "#"
          %li= link_to "PR Tableとは？", "#"
    .right
      #header-buttons
        #create
          - if user_signed_in?
            = link_to "ストーリーを作成", new_story_path
          - else
            = link_to "ストーリーを作成", new_user_session_path
        #user
          - if user_signed_in?
            %ul#dropmenu
              %li
                = image_tag current_user.company.logo
                %ul
                  %li= link_to "基本情報設定", profile_path
                  %li= link_to "投稿一覧", stories_path
                  %li= link_to "ログアウト", destroy_user_session_path, method: :delete
          - else
            = link_to "ログイン", new_user_session_path
