%header#header
  #global-header
    .left
      #logo
        = link_to image_tag('product_story_logo.png'), root_path
      #header-nav
        %ul
          %li= link_to "Product Storyとは？", "#"
    .right
      #header-buttons
        - if controller.controller_name == "stories" && controller.action_name == "show"
          - if user_signed_in? && @story.user.id == current_user.id
            #edit-stoy
              = link_to "このストーリーを編集", edit_story_path(@story)
        #create
          - if user_signed_in?
            = link_to "ストーリーを作成", new_story_path
          - else
            = link_to "ストーリーを作成", new_user_session_path
        #create-product
          - if user_signed_in?
            = link_to "商品を登録", new_product_path
          - else
        #user
          - if user_signed_in?
            %ul#dropmenu
              %li
                - if current_user.company.nil?
                  = image_tag("company-logo.png")
                - else
                  = image_tag current_user.company.logo
                %ul
                  %li= link_to "ストーリーの編集", stories_path
                  %li= link_to "商品の編集", products_path
                  %li= link_to "会社情報設定", profile_path
                  %li= link_to "ログアウト", destroy_user_session_path, method: :delete
          - else
            = link_to "ログイン / 新規登録", new_user_session_path
