%header#header
  #global-header
    .left
      #logo
        = link_to image_tag('logo.svg'), root_path
      #header-nav
        %ul
          %li
            - if user_signed_in?
              = link_to "ログアウト", destroy_user_session_path, method: :delete
            - else
              = link_to "ログイン", new_user_session_path
          %li= link_to "PR Tableとは？", "#"
    .right
      #header-buttons
        #create
          - if user_signed_in?
            = link_to "ストーリーを作成", new_story_path
          - else
            = link_to "ストーリーを作成", new_user_session_path
        #user
          - if user_signed_in?
            = link_to "ユーザー編集", profile_path
