%section#list-stories
  %article
    = link_to "stories/1" do
      .content
        .content__image{style: "background-image: url(#{asset_path('story-image.jpg')});"}
        .content__title “ハッピーエンドの連鎖”をもたらす、CS（カスタマーサクセス）の在り方とは？
        .content__company 弥生株式会社
  %article
    = link_to "stories/1" do
      .content
        .content__image{style: "background-image: url(#{asset_path('story-image.jpg')});"}
        .content__title “ハッピーエンドの連鎖”をもたらす、CS（カスタマーサクセス）の在り方とは？
        .content__company 弥生株式会社
  %article
    = link_to "stories/1" do
      .content
        .content__image{style: "background-image: url(#{asset_path('story-image.jpg')});"}
        .content__title “ハッピーエンドの連鎖”をもたらす、CS（カスタマーサクセス）の在り方とは？
        .content__company 弥生株式会社
  %article
    = link_to "stories/1" do
      .content
        .content__image{style: "background-image: url(#{asset_path('story-image.jpg')});"}
        .content__title “ハッピーエンドの連鎖”をもたらす、CS（カスタマーサクセス）の在り方とは？
        .content__company 弥生株式会社
  %article
    = link_to "stories/1" do
      .content
        .content__image{style: "background-image: url(#{asset_path('story-image.jpg')});"}
        .content__title “ハッピーエンドの連鎖”をもたらす、CS（カスタマーサクセス）の在り方とは？
        .content__company 弥生株式会社
  %article
    = link_to "stories/1" do
      .content
        .content__image{style: "background-image: url(#{asset_path('story-image.jpg')});"}
        .content__title “ハッピーエンドの連鎖”をもたらす、CS（カスタマーサクセス）の在り方とは？
        .content__company 弥生株式会社
  %article
    = link_to "stories/1" do
      .content
        .content__image{style: "background-image: url(#{asset_path('story-image.jpg')});"}
        .content__title “ハッピーエンドの連鎖”をもたらす、CS（カスタマーサクセス）の在り方とは？
        .content__company 弥生株式会社
  %article
    = link_to "stories/1" do
      .content
        .content__image{style: "background-image: url(#{asset_path('story-image.jpg')});"}
        .content__title “ハッピーエンドの連鎖”をもたらす、CS（カスタマーサクセス）の在り方とは？
        .content__company 弥生株式会社
  %article
    = link_to "stories/1" do
      .content
        .content__image{style: "background-image: url(#{asset_path('story-image.jpg')});"}
        .content__title “ハッピーエンドの連鎖”をもたらす、CS（カスタマーサクセス）の在り方とは？
        .content__company 弥生株式会社
  %article
    = link_to "stories/1" do
      .content
        .content__image{style: "background-image: url(#{asset_path('story-image.jpg')});"}
        .content__title “ハッピーエンドの連鎖”をもたらす、CS（カスタマーサクセス）の在り方とは？
        .content__company 弥生株式会社
  %article
    = link_to "stories/1" do
      .content
        .content__image{style: "background-image: url(#{asset_path('story-image.jpg')});"}
        .content__title “ハッピーエンドの連鎖”をもたらす、CS（カスタマーサクセス）の在り方とは？
        .content__company 弥生株式会社
  %article
    = link_to "stories/1" do
      .content
        .content__image{style: "background-image: url(#{asset_path('story-image.jpg')});"}
        .content__title “ハッピーエンドの連鎖”をもたらす、CS（カスタマーサクセス）の在り方とは？
        .content__company 弥生株式会社
  %article
    = link_to "stories/1" do
      .content
        .content__image{style: "background-image: url(#{asset_path('story-image.jpg')});"}
        .content__title “ハッピーエンドの連鎖”をもたらす、CS（カスタマーサクセス）の在り方とは？
        .content__company 弥生株式会社
  %article
    = link_to "stories/1" do
      .content
        .content__image{style: "background-image: url(#{asset_path('story-image.jpg')});"}
        .content__title “ハッピーエンドの連鎖”をもたらす、CS（カスタマーサクセス）の在り方とは？
        .content__company 弥生株式会社
  %article
    = link_to "stories/1" do
      .content
        .content__image{style: "background-image: url(#{asset_path('story-image.jpg')});"}
        .content__title “ハッピーエンドの連鎖”をもたらす、CS（カスタマーサクセス）の在り方とは？
        .content__company 弥生株式会社
