%section#recommend-topic
  .container
    %h2 おすすめトピック
    .topic
      %ul
        %li= link_to "ユーザー事例", "#"
        %li= link_to "ドン底", "#"
        %li= link_to "Healthcare-Tech", "#"
        %li= link_to "Text by People Made", "#"
        %li= link_to "元クックパッド", "#"
        %li= link_to "経営陣・幹部", "#"
        %li= link_to "社長・代表", "#"
        %li= link_to "グローバル進出", "#"
        %li= link_to "女性の活躍", "#"
        %li= link_to "東大卒ベンチャー", "#"
        %li= link_to "バックオフィス支援", "#"
        %li= link_to "社内制度", "#"
        %li= link_to "兄弟", "#"
        %li= link_to "サービス導入事例", "#"
        %li= link_to "IoT", "#"
        %li= link_to "元リクルート", "#"
        %li= link_to "オフィス", "#"
        %li= link_to "東京五輪2020", "#"
        %li= link_to "社員", "#"
        %li= link_to "カルチャー", "#"
      .more
        =link_to "> トピック一覧", "#"
