%section#recommend-stories
  .container
    %h2 注目のストーリー
    .stories
      %article
        = link_to root_path do
          .info
            .image{style: "background-image: url(#{asset_path('side-story.jpg')});"}
            .story
              .story__title “Buddy”とともに大きくなる——「21世紀でもっとも感動を与える会社」の在り方
              .story__company ギークス株式会社
      %article
        = link_to root_path do
          .info
            .image{style: "background-image: url(#{asset_path('side-story.jpg')});"}
            .story
              .story__title “Buddy”とともに大きくなる——「21世紀でもっとも感動を与える会社」の在り方
              .story__company ギークス株式会社
      %article
        = link_to root_path do
          .info
            .image{style: "background-image: url(#{asset_path('side-story.jpg')});"}
            .story
              .story__title “Buddy”とともに大きくなる——「21世紀でもっとも感動を与える会社」の在り方
              .story__company ギークス株式会社
