- provide(:title, "PR Table")
#wrap.gray
  = render 'shared/header'
  = render 'shared/pickup-stories'
  #main-container
    #main-left
      %section#list-stories
        = render partial: 'shared/list_story', collection: @list_stories
      = render 'shared/more'
      %section#list-products
        = render partial: 'shared/product_list', collection: @product_lists
      = render 'shared/more'
    #side-menu
      %section#recommend-stories
        .container
          %h2 注目のストーリー
          .stories
            = render partial: 'shared/recommend_story', collection: @recommend_stories
      = render 'shared/recommend-topic'
      %section#company-list
        .container
          %h2 ストーリー掲載企業
          = render partial: 'shared/company_list', collection: @company_lists
      = render 'shared/banner'
  = render 'shared/footer'
