- provide(:title, "PR Table")
#wrap.gray
  = render 'shared/header'
  = render 'shared/pickup-stories'
  #main-container
    #main-left
      %section#list-stories
        = render partial: 'shared/list_story', collection: @list_stories
      = render 'shared/more'
    #side-menu
      %section#recommend-stories
        .container
          %h2 注目のストーリー
          .stories
            = render partial: 'shared/recommend_story', collection: @recommends_stories
      = render 'shared/recommend-topic'
      = render 'shared/company-list'
      = render 'shared/banner'
  = render 'shared/footer'
