- provide(:title, "#{@company.name}｜People Made")
#wrap
  = render 'shared/header'
  - breadcrumb :company, @company
  = breadcrumbs separator: " &gt; "
  #company-cover-image{style: "background-image: url(#{asset_path(@company.cover_image)});"}
  .single-column-wrap
    #company-header
      .logo{style: "background-image: url(#{asset_path(@company.logo)});"}
      %h1= @company.name
    %h2.comapay-detail 商品一覧
    #company-products
      - @products.each do |product|
        %article
          = link_to product_path(product) do
            .content
              .content__image{style: "background-image: url(#{asset_path(product.images[0].image)});"}
              .content__title= product.name
    %h2.comapay-detail ストーリー一覧
    #comapny-stories
      =render partial: 'shared/company_story', collection: @company_stories
    #company-info
      %h2 会社・団体概要
      .detail
        %dl
          %dt ブランド名
          %dd= @company.name
        %dl
          %dt 会社・ブランド説明
          %dd= @company.profile
        %dl
          %dt 代表者
          %dd= @company.ceo_name
        %dl
          %dt 設立年月日
          %dd= @company.establish_y
        %dl
          %dt 住所
          %dd= @company.user.address.zipcode1
        %dl
          %dt ビジョン・ミッション
          %dd= @company.profile
        %dl
          %dt 公式ページ
          %dd= @company.about_url
  = render 'shared/footer'
