- provide(:title, "#{@company.name}｜PR Table")
#wrap
  = render 'shared/header'
  - breadcrumb :company, @company
  = breadcrumbs separator: " &gt; "
  #company-cover-image{style: "background-image: url(#{asset_path(@company.cover_image)});"}
  .single-column-wrap
    #company-header
      =image_tag @company.logo
      %h1= @company.name
    %h2 商品一覧
    #company-products
      - @products.each do |product|
        %article
          = link_to product_path(product) do
            .content
              .content__image{style: "background-image: url(#{asset_path(product.images[0].image)});"}
              .content__title= product.name
    %h2 ストーリー一覧
    #comapny-stories
      =render partial: 'shared/company_story', collection: @company_stories
    #company-info
      %h2 会社・団体概要
      .detail
        %dl
          %dt 社名
          %dd 会社名だよー
        %dl
          %dt 会社・団体説明
          %dd 会社・団体説明だよー会社・団体説明だよー会社・団体説明だよー会社・団体説明だよー会社・団体説明だよー会社・団体説明だよー
        %dl
          %dt 代表者
          %dd 代表者名だよー
        %dl
          %dt 設立年月日
          %dd 設立年月日だよー
        %dl
          %dt 住所
          %dd 住所だよー
        %dl
          %dt ビジョン・ミッション
          %dd ビジョン・ミッションだよー
        %dl
          %dt URL
          %dd URLだよー
  = render 'shared/footer'
