= render 'shared/header'
= render 'shared/pickup-stories'
#main-container
  #main-left
    = render 'shared/list-stories'
  #side-menu
    = render 'shared/recommend-stories'
    = render 'shared/recommend-topic'
    = render 'shared/company-list'
    = render 'shared/banner'
= render 'shared/footer'
