- provide(:title, "#{@story.title}")
#wrap
  = render 'shared/header'
  - breadcrumb :story, @story
  = breadcrumbs separator: " &gt; "
  .story-container
    %main.content
      %article#story
        .header
          .company
            = link_to company_path(@story.user.company.custom_url) do
              .image
                = image_tag(@story.company_logo)
                %figcaption= @story.company_name
          %h1= @story.title
          .intro= @story.intro
          .socials
            %ul
              %li.facebook
                = link_to "f", "#"
              %li.eight
                = link_to "8", "#"
              %li.twitter
                = link_to "鳥", "#"
              %li.hatena
                = link_to "B!", "#"
              %li.pocket
                = link_to "P", "#"
        %section.content
          .topic-body= @story.content.html_safe
          .related-products
            %h4 ストーリーに登場する商品
            - @products.each do |product|
              .product
                =link_to product_path(product) do
                  =image_tag product.images[0].image
                  = product.name
                %hr.sidebar
        %section.story-footer
          .socials
            %ul
              %li.facebook.round
                = link_to "f", "#"
              %li.eight.round
                = link_to "8", "#"
              %li.twitter.round
                = link_to "鳥", "#"
              %li.hatena.round
                = link_to "B!", "#"
              %li.pocket.round
                = link_to "P", "#"
          .info
            .tags
              = link_to "Text by People Made", "#"
              = link_to "社員・職員", "#"
            %date 2016.10.26
          .profile
            .company-info{style: "background-image: url(#{asset_path(@story.cover_image)});"}
              .background
              .company-wrap
                .company-head
                  .company-logo
                    .figure
                      .image
                        = image_tag(@story.company_logo)
                      .figcaption= @story.company_name
                  .link
                    = link_to "> この会社について", company_path(@story.custom_url)
                .buttons
                  %ul
                    %li
                      =link_to "取材したい", "#", class:"coverage"
            .other-story
              - @story.user.stories.published.each do |story|
                %article
                  = link_to story_path(story) do
                    .story-image{style: "background-image: url(#{asset_path(story.image)});"}
                    .title= story.title
                    %p= story.company_name
  = render 'shared/footer'
